<div class="sign-form">
	<h1 class="sign-title">Sign In</h1>

	<form action="/session" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" name="user[email]" id="email" placeholder="Email">
		</div>
	
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="user[password]" id="password" placeholder="Password">
		</div>
	
		<input type="submit" value="Log In" class="sign-btn btn btn-primary">
	</form>

	Don't have an account? <a href="<%= new_user_url %>">Create a Kyllo account.</a> Or <i class="fa fa-arrow-down"></i>
	
	<form action="/session" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		
		<input type="hidden" name="user[email]" value="example@gmail.com">
		<input type="hidden" name="user[password]" value="password">
		
		<input class="sign-btn btn guest" type="submit" value="Continue as Guest">
	</form>
	
</div>