<div id="overlay"></div>

<div id="modal">
	<div id="content">
		
		<div class="modal-title">
			<h3 class="modal-header"><%= card.escape('title') %></h3>
			in list
			<a ><%= card.collection.list.get('title') %></a>
		</div>
		
		<div class="modal-description idle">
			
			<% if (card.get('description')) {%>
				<h5 id="descrip">Description</h5>
				<div class="description-text"><%= card.escape('description') %></div>
			<% } else { %>
				<div class="description-text">Click here to edit description.</div>
			<% }; %>
			
			<form class="descrip-form">
				<textarea class="descripy" name="card[description]"><%= card.escape('description') %></textarea>
				<input class="submit-descripy" type="submit" value="Save">
			</form>
		</div>
		
	</div>
	
	<a href='#' id='close'>close</a>
</div>