<h1>My Boards</h1>


<div class="boards">
	<% boards.each(function (board) { %>
		<a class="board" href="#/boards/<%= board.id %>">
			<span class="title"><%= board.escape("title") %></span>
			<span class="delete" data-id="<%= board.id %>">
				<i class="fa fa-times"></i>
			</span>
		</a>
	<% }) %>

	<a class="board create-board">
		<div class="create">Create New Board...</div>

		<ul class="dropdown-menu" role="menu" aria-labelledby="logout-menu">
			<li class="dropdown-name" role="presentation">Create Board</li>
		
			<li role="presentation" class="divider"></li>
			<li role="presentation">
				<form id="new-board">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" name="board[title]" id="title" placeholder="Title">
					</div>
					<input class="new-board-btn" type="submit" value="Create" class="btn btn-primary">
				</form>
			</li>
		</ul>
	</a>
</div>

