<h1>My Boards</h1>
<div class="boards">
	<% boards.each(function (board) { %>
		<a class="board" href="#/boards/<%= board.id %>">
			<span class="title"><%= board.escape("title") %></span>
			<span class="delete" data-id="<%= board.id %>">
				<i class="fa fa-times"></i>
			</span>
		</a>
		
	<% }) %>
</div>

<h3>New Board</h3>
<form id="new-board">
	<label>title <input name="board[title]" type='text'><label>
	<input type="submit" value="Create Board">
</form>