<h3 class="board-title"><%= board.escape('title') %></h3>


<div id="lists-plus-form">
	<div id="lists">
	</div>

	<div class="add-list idle">
		<form class="new-list-form">
			<span class="placeholder">Add a list...</span>
			<input type="text" class="list-name-input" name="list[title]" placeholder="Add a list...">
			<div class="edit-controls">
				<input type="submit" class="list-submit" value="Save">
				<div class="cancel"><i class="fa fa-times"></i></div>
			</div>
		</form>
	</div>
</div>
