<div class="blank">

</div>

<div class="top">
	<div class="pats">
		New England
	</div>

	<div class='top-nums'>
		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>

		<div class="number">
			_
		</div>
	</div>
</div>

<div class="side">
	<div class="seattle">
		Seattle
	</div>

	<div class="side-nums">
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	
		<div class="number">
			_
		</div>
	</div>
</div>
	
<div id="squares">
</div>