<h1>Sign Up</h1>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<label>email<input type="text" name="user[email]"></label>
	<label>password<input type="password" name="user[password]"></label>
	<input type="submit" value="Submit" class="btn btn-primary">
</form>

<a href="<%= new_session_url %>">or sign in</a>