/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";


* {
	font-family: helvetica;
}

html {
	height: 100%;
}

.header {
	height: 40px;
	background: #0B6294;
}

body {
	margin: 0px;
	background: #0E74AF;
	height: 100%;
}

body.index {
	background: white;
}

.container {
	height: 100%;
}

.header-info {
	right: 20px;
	position: absolute;
}

.logo {
	display: block;
	height: 30px;
	font-size: 14pt;
	left: 50%;
	margin: 10px 0 0 -40px;
	position: absolute;
}

a#logo-link {
	text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .2s;
	color: #86b9d7;
}

a#logo-link:hover {
	text-decoration: none;
	color: #daeaf3;
}

#main {
	padding-left: 10px;
	height: 100%;
}

.header-boards {
	height: 30px;
	width: 90px;
	float: left;
	margin: 5px 0 0 5px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	padding: 6px 0 6px 0;
	background: #4386ac;
	color: #f3f3f3;
	border-radius: 4px;
}

.header-boards:hover {
	background: #689ebc;
	color: white;
}

.fa.b-logo {
	margin-right: 6px;
	font-size: 16px;
	color: white;
}

div.drop-btn {
	height: 30px;
	width: 150px;
	background: white;
}

button.drop-btn {
	margin-top: 5px;
	padding: 0;
	height: 30px;
	width: 120px;
	border-radius: 4px;
	border: none;
}

.btn-name:hover {
	background: #689ebc;
	color: white;
}

div.btn-initials, div.btn-name {
	float: left;
	height: 100%;
	padding-top: 6px;
	text-align: center;
}

div.btn-initials {
	background: #DBDBDB;
	color: #4D514D;
	width: 30px;
	font-weight: bold;
}

div.btn-name {
	background: #4386ac;
	color: #f3f3f3;
	width: 90px;
}

.dropdown-menu {
	width: 300px;
	top: 40px;
	left: 120px;
	position:relative;
}

.dropdown-menu > li > a {
	font-weight: bold;
	color: #4d4d4d;
}

.dropdown-menu > li > a:hover {
	background: #318ec4;
	color: white;
}

.dropdown-name {
	text-align: center;
	color: #8C8C8C;
}

.sign-form {
	width: 40%;
	left: 30%;
	position: absolute;

	padding: 10px;
	border-radius: 3px;
	margin-top: 100px;
	font-family: Arial,sans-serif;
}

.form-control {
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .4em;
	max-width: 400px;
	width: 80%;
}

.sign-title {
	font-weight: bold;
	font-family: Arial,sans-serif;
	color: #4D4D4D;
	margin-bottom: 30px;
}

.form-group label {
	font-weight: 300;
	color: #4D4D4D;
	font-size: 20px;
}

input.form-control:hover {
	border-color: #8e8e8e;
}

.sign-btn {
	padding: 5px 20px 5px 20px;
	height: 50px;
	width: auto;
	text-align: center;
	font-size: 20px;
	color: white;
	background: linear-gradient(to bottom, #48b512 0, #3d990f 100%);
	box-shadow: 0 2px 0 #4d4d4d;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	margin-right: 4px;
	margin-bottom: 20px;
}

.sign-btn:hover {
	background: #34820D;
}

.guest {
	margin-top: 20px;
	background: linear-gradient(to bottom, #1248B5 0, #0f3d99 100%);
}

.guest:hover {
	color: white;
	background: #0b2c6f;
}