.board-title {
	margin: 16px 0 16px 15px;
	color: #f3f3f3;
	text-size: 10pt;
	font-weight: 600;
	line-height: 30px;
}

#lists-plus-form {
	width: auto;
	height: 200px;

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
