#overlay {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}

#modal {
  position :absolute;
	height: 500px;
	width: 50%;
	left: 25%;
	margin-top: 50px;
  background :rgba(0,0,0,0.2);
  border-radius :3px;
  padding: 8px;
	padding-left: 23px;
	z-index: 1032;
  background:#fff;
}

#cards {
	margin-top: 4px;
	padding: 0 3px 0 3px;
}

.drophere {
	height: 31px;
	margin-bottom: 5px;
	background: #b5b5b5;
	border-radius: 3px;
}

.dragged {
	transform: rotate(15deg);
}

.cardShow {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 5px;
	max-width: 300px;
	min-height: 20px;
	position: relative;
}

.card-details {
	padding: 6px 8px 4px;
	position: relative;
	z-index: 10;
}

h3.modal-header {
	width: auto;
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	border: none;
	font-weight: bold;
}

.modal-title {
	margin: 20px 0 0 20px;
	height: 45px;
	padding: 15px 15px 0 0;
	font-size: 20px;
}

#close {
	bottom: 0;
	position: absolute;
}

textarea.descripy {
	width: 80%;
	min-height: 108px;
	background: rgba(0,0,0,.03);
	border-color: rgba(0,0,0,.15);
	box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
	margin-bottom: 4px;
	margin-right: 20%;
	border-radius: 3px;
	appearance: none;
}

.submit-descripy {
	padding: 5px 20px 5px 20px;
	height: 30px;
	width: 72px;
	color: white;
	background: linear-gradient(to bottom,#48b512 0,#3d990f 100%);
	box-shadow: 0 1px 0 #4d4d4d;
	border: none;
	border-radius: 3px;
	margin-right: 4px;
}

h5#descrip {
	color: #8c8c8c;
}

.modal-description.idle .descrip-form {
	display: none;
}

.modal-description .description-text {
	display: none;
}

.modal-description.idle .description-text {
	display: block;
}

.description-text {
	margin-top: 15px;
}