#squares {
	height: 600px;
/*	width: 1000px;*/
	width: 89%;
	background: white;
	float: right;
	text-align: center;
}

.square {
	height: 60px;
/*	width: 100px;*/
	width: 10%;
	border: 1px solid black;
	float: left;
	
}

.available {
	height: 100%;
	width: 100%;
}

.pick {
	padding: 10px;
	padding-top: 20px;
}

.side-nums {
	float: right;
}

.top-nums .number {
	display: inline-block;
	width: 9.5%;
	font-size: 50px;
	text-align: center;

}

.top-nums .number:last-child {
	display: inline-block;

	font-size: 50px;
	margin-right: 0;
}

.seattle {
/*	width: 40px;*/
	width: 40%;
	float: left;
	margin-top: 350px;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	
	font-size: 40px;
}

.pats {
	text-align: center;
	font-size: 40px;
}

.top {
	width: 89%;
	float: right;
/*	text-align: center;*/
}

.side {
	height: 600px;
/*	width: 100px;*/
	width: 7%;
	float: left;

	margin-left: 20px;
}

.side-nums .number {
	font-size: 40px;
	margin-top: 3px;
}

.blank {
/*	height: 128px;*/
	height: 10%;
	width: 120px;

	float: left;
}